{% extends "task_manage.html" %}
{% block debug_task %}

    <fieldset>
        <div id="legend" class="">
            <legend class="">编辑任务
            <button class="btn btn-success"
                    onclick="window.location.href='/interface/task_manage/'"
                    style="margin-left: 1058px;">返回</button>
            </legend>
        </div>
        <div style="width:80%; margin-left: 20px;">
        <form method="get" class="bs-example bs-example-form" role="form" style="margin-top: 30px">

            <div class="form-group">
                <label>名称:</label>
                <input type="text" id="taskName" class="form-control">
            </div>

            <div class="form-group">
                <label>描述:</label>
                <textarea id="taskDescribe" class="form-control" rows="3" name=textarea></textarea>
            </div>

            <div class="form-group">
                <label>用例:</label>
                <input type="checkbox" id="selectAll">全选/取消</input>
                <div class="caselist" style="overflow-y:scroll;height: 100px;
                    background: #ffff;height: 100px;padding-left: 15px;padding-top: 10px;padding-bottom: 10px;">

                </div>

            </div>

            <div style="width: 100%; height: 60px;padding-top: 10px;">
                <button type="button" class="btn btn-success" id="update" style="float: right;margin-right: 10px;">保存</button>
            </div>

        </form>

        </div>

    </fieldset>

    <!--添加jQuery cdn：https://www.bootcdn.cn/jquery/-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <!--jQuery选择器:www.runoob.com/jquery/jquery-selectors.html-->
    <script type="text/javascript">

        //初始化用例列表
        let url_path = document.location.pathname;  //获取当前路径地址
        let task_id = url_path.split("/")[3];
        TaskListInit(task_id)

        //保存任务
        $("#update").click(function(){

            let tName = $("#taskName").val();
            let tDescribe = $("#taskDescribe").val();

            if(tName === ""){
                window.alert("任务名称不能为空！");
                return;
            }

            let selectCases = document.querySelectorAll("div.caselist >input")   //获取前台用例列表
            //var selectCaseId = new Array()   //js 定义数组
            var selectCaseId = "";
            for(let i=0; i<selectCases.length;i++){
                if(selectCases[i].checked === true){         //.checked，来判断用例列表中的复选框是否为勾选状态
                    let case_id = selectCases[i].value;      //.value，获取勾选的用例的id
                    //console.log("选中的用例id:",case_id);
                    //selectCaseId.push(case_id);
                    selectCaseId = selectCaseId + case_id + ",";
                }
            }
            console.log("选中的用例id:",selectCaseId)

            //<!--jQuery ajax - post()方法:www.w3school.com.cn/jquery/ajax_post.asp-->
            //向后端发送post请求
             $.post("/interface/update_task_data/",{
                 "tid":task_id,
                 "task_name":tName,
                 "task_describe":tDescribe,
                 "task_cases":selectCaseId
             },function(resp){
                 if(resp.success === "true"){
                     window.alert(resp.message);

                     //跳转到任务管理页面
                     //window.location.href = "/interface/task_manage/";
                 }else{
                     window.alert(resp.message);
                 }
              });
            });

        //全选/取消勾选
        $("#selectAll").click(function(){
            var selectAll = document.querySelector("#selectAll"); //获取全选/取消勾选框
            var allCases = document.querySelectorAll(".caselist > input");  //获取用例列表中所有用例
            if(selectAll.checked === true){
                for(let i=0;i<allCases.length;i++){
                   allCases[i].checked = true;
                }
            }else{
                for(let i=0;i<allCases.length;i++){
                   allCases[i].checked = false;
                }
            }

        });




    </script>


{% endblock %}