<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/fetch/3.0.0/fetch.min.js"></script>
</head>

<body>
    {% verbatim myblock %}
        <div id="app">
            {{ message }}

            <ul>
                <li v-for="item in fruits">{{ item }}</li>
            </ul>

        </div>
    {% endverbatim myblock %}
</body>

<script>
    var app = new Vue({
        el:"#app",
        data:{
            message:"hello",
            fruits:["apple","orange","banana"],
        },
        methods:{
            add(){
                return "XXX"
            },
        },
        created:function () {
            this.message = "new hello";
            //this.fruits[1] = "cat"
            //console.log("fruits:",this.fruits)
            this.$set(this.fruits,1,"cat");
            //this.fruits = ["a","b","c"]
        },
    });
</script>

</html>