<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/fetch/3.0.0/fetch.min.js"></script>

    <!-- 引入样式 element-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 element-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    {% verbatim myblock %}

        <div id="app">
            {{ message }}
            <child></child>
        </div>

        <div name="111">
            123456
        </div>

        <template id="child">
            <div>
                template
            </div>
        </template>

    {% endverbatim myblock %}

</body>

<script>

    Vue.component('child',{
        el:"#child",
        template:"",
        render:function(h){   //render优先级最高
            return h("div",{name:"111"},"XXX")
        },
    });

    var app = new Vue({
        el:"#app",
        data:{
            message:"hello",
        },
        methods:{

        },

    });



</script>

<style>

    .login_main{
        width: 400px;
        height: 400px;
        {#border: 1px solid black;#}

        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

</style>

</html>